<h3>@ViewBag.Message</h3>

<div>
    <a class="btn btn-primary" href="~/Home/CallApi">Call API</a>
    <a class="btn btn-primary" href="~/Home/RenewTokens">Renew Tokens</a>
    <a class="btn btn-primary" href="~/Home/TokenExchange">Exchange Token</a>
</div>

<dl>
    @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
    {
        <dt>
            @claim.Type
        </dt>
        <dd>
            @claim.Value
        </dd>
    }
</dl>


